---
layout: default
---

<body data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
	{% if page.frontWideImg %}
		<section data-jarallax data-speed=".8" class="py-12 py-md-15 py-sm-0 bg-cover jarallax" style="background-image: url({{ page.frontWideImg }});"></section>
	{% endif %}


	<section class="pt-8 pt-md-11 pb-0">
		<div class="container">
		  <div class="row justify-content-center">
		    <div class="col-12 col-md-12 col-lg-10 col-xl-9">
		    	<h6 class="text-uppercase mb-1 text-muted">{{ page.date | date: "%B %-d, %Y" }}</h6>
					<h1 class="display-4 font-weight-bold">
					  {{ page.title }}
					</h1>
					<p class="text-secondary  ">By {{ page.by }}</p>
					<p class="lead mb-7 text-muted">
						{{ page.summary }}
					</p>
					<hr class="hr-md mb-7">
				</div>
			</div>
		</div>
	</section>

  {{ content }}

	<section class="pt-2 pt-md-11 pb-8">
	  <div class="container">
	    <hr class="border-gray-300">
	    <div class="list-group list-group-flush border-0">
	      <div class="list-group-item d-flex align-items-center">
	        <div class="row">
	          <p class="text-muted mb-1 mr-12 ml-8">
	            Authors
	          </p>
	          <p class="font-size-sm text-muted mb-0">
	            {{ page.authors | join: ", "}}
	          </p>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>


</body>


